body {
  background: url("https://images.unsplash.com/photo-1502657877623-f66bf489d236?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c4a086173e78551f89a3e22d03a8053f&auto=format&fit=crop&w=1920") center center / cover no-repeat;
}

#apps, #google-services, #social-apps, #news-apps {
  display: flex;
  margin:0 25px; /*put div in the center of the page*/
  flex-flow: row wrap; /*makes the content to come on new line if overflows*/
  justify-content: flex-start; /* give some spacing between elements*/
}

.installed-app {
  padding: 10px;
  width: 110px;
}

.installed-apps-img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
  }

.service, .social-app, .news-app {
 margin-bottom: 35px;
}

.image {
  cursor:pointer;
  height: 48px;
  width:80%;
}

.social-image, .news-image {
  cursor:pointer;
  height: 50px;
  width:50px;
  margin: 0 auto;
}

.name, .installed-apps-name {
  display:block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  text-align:center;
}

.name {
 width: 115px;
}

.installed-apps-name {
  color: #fff;
  width: 80px;
}

#v-pills-tabContent {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top:  5px;
}

.vtab-title {
  padding-left: 10px;
}

.main-box {
  position: absolute;
  top: calc(30% - 100px);
  margin-top: 60px;
  width: 91%;
  display: grid;
}

.search-bar {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px; 
  margin-left: calc(50% - 320px); 
  width: 600px;
}
  .search-bar .icon {
    width: 45px;
    height: 20px; 
  }
  .search-bar input {
    width: 555px;
    height: 45px;
    line-height: 45px;
    padding: 0 5px;
    border: none;
    background-color: transparent;
    font-size: 14px; 
  }
  .search-bar.rounded-searchbar {
    border-radius: 45px; 
  }
  .search-bar.dark {
    background: rgba(0, 0, 0, 0.5); 
  }
  .search-bar.dark input {
      color: #fff; 
  }

.pinned-bookmarks-box {
  margin: 0 auto;
}

.swiper-slide {
}

.installed-app:hover {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.close-icon:hover {
    vertical-align: top;
    margin-left: -15px;
    border-radius: 20px;
    opacity: 1.0;
    width: 16px;
    height: 16px;
    background: url(chrome-extension://oeknfblmedgidkknjllobmlhbbeakmhh/img/svg/close.svg) center/contain no-repeat;
}

.pull-right {
  float: right;
  margin-top: 10px;
}
