.sessions-modal {
    background-color: whitesmoke;
    margin-top: 20px;
    border-radius: 15px;
}

#tabs {
    display: inline-block;
    width: -webkit-fill-available
}

.window {
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
}

.tab {
    padding: 10px;
    font-size: 14px;
    margin-left: 60px;
}

.tab-image {
    cursor: pointer;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 10px;
}

.window-image {
    margin-right: 10px;
}

.tab-anchor {
    word-wrap: break-word;
    width: 50px;
}

.tab-count {
    margin-left: 10px;
    color: grey;
}